{% extends 'base.html' %}

{% block title %}
Question Edit Page
{% endblock %}

{% block header %}
Question Edit Page
{% endblock %}

{% block main-content %}
<form method="POST">
  {% csrf_token %}
  <label for="question">Question: </label>
  <input type="text" name="question" value="{{ question.question_text }}">
  <br />
  <ul>
    {% for c in question.choices.all %}
    <label for="choice-{{ c.id }}">Choice: </label>
    <input type="text" name="choice-{{ c.id }}" value="{{ c.choice_text }}">
    <br />
    {% endfor %}
  </ul>
  
  <br />
  <input type="hidden" value="question_edit" />
  <input type="submit" value="Update Question" />
</form>



{% if error %}
<p id="error">ERROR: {{ error }}</p>
{% endif %}

<hr />

<form method="POST">
  {% csrf_token %}
  <label for="choice">New Choice: </label>
  <input name="choice" placeholder="add new choice"/>
  <br />
  <input type="hidden" name="choice_new" value=""/>
  <input type="submit" value="Add Choice">
</form>

{% endblock %}