body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
  display: flex;
  text-align: center;
  font-size: 36px;
  color: #0088AA;
  background-color: #CCCCCC;
  height: 90px;
}

#votes {
  color: coral;
}

#error {
  color: #AA0000;
}